<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winning.batjx.core.app.mapper.GrstMapper" >

	<!-- 根据方案id、考核区间查询指标信息 对于机构，khdxbm=登录人所在机构;   对于个人，khdxbm=登录人id-->
    <select id="selectKhhzxxByFaidAndKhqjForIndividualOrJg" parameterType="java.util.Map" resultType="com.winning.batjx.core.khgl.khwj.vo.QyjxKhhzXxVo">
        select xx.* from(
        	SELECT  distinct '1' type ,a.khlx,a.lxmc,a.fldj,a.yjflbm,a.yjflmc,a.ejflbm,a.ejflmc,a.sjflbm,a.sjflmc,a.khzbbm,a.khzbmc,
        		a.cjfsbm,a.cjfsmc,a.zbz,a.mbdf,a.zbdf,a.bhgzl,a.zbjj,a.jgbm
       		FROM QYJX_KHHZ t 
			left join QYJX_KHHZ_XX a on t.id = a.fid
        	WHERE t.faid = #{faid}
        	<if test="khqj !=null and khqj !='' "> AND t.khzq = #{khqj}</if>
        	and t.khdxbm = #{khdxbm}
        	and (t.ssksbm is null or t.ssksbm = '')
        	<!-- <if test="jgbm !=null and jgbm !='' "> and t.ssksbm = #{jgbm}</if> --> <!-- 暂不用 -->
        )xx inner join(
        	SELECT zbid,zbmc
            FROM qyjx_bi_zstzbpz
            WHERE faid=#{faid} and pzbz= #{pzbz}
        )zdzb on xx.khzbbm = zdzb.zbid
        
        union
        select xx.* from(
        	SELECT  distinct '2' type ,a.khlx,a.lxmc,a.fldj,a.yjflbm,a.yjflmc,a.ejflbm,a.ejflmc,a.sjflbm,a.sjflmc,a.khzbbm,a.khzbmc,
        		a.cjfsbm,a.cjfsmc,a.zbz,a.mbdf,a.zbdf,a.bhgzl,a.zbjj,a.jgbm
       		FROM QYJX_KHHZ t 
			left join QYJX_KHHZ_XX a on t.id = a.fid
        	WHERE t.faid = #{faid}
        	<if test="hbqj !=null and hbqj !='' "> AND t.khzq = #{hbqj}</if>
        	and t.khdxbm = #{khdxbm}
        	and (t.ssksbm is null or t.ssksbm = '')
       	 <!-- <if test="jgbm !=null and jgbm !='' "> and t.ssksbm = #{jgbm}</if> -->
        )xx inner join(
        	SELECT zbid,zbmc
            FROM qyjx_bi_zstzbpz
            WHERE faid=#{faid} and pzbz= #{pzbz}
        )zdzb on xx.khzbbm = zdzb.zbid
    </select>
    
    <!-- 因为可能存在既考核到机构(考核到机构下属人员)又考核到个人   实际上可能并不存在 -->
    <select id="selectKhhzxxByFaidAndKhqj" parameterType="java.util.Map" resultType="com.winning.batjx.core.khgl.khwj.vo.QyjxKhhzXxVo">
        select xx.* from(
        	SELECT  distinct '1' type ,a.khlx,a.lxmc,a.fldj,a.yjflbm,a.yjflmc,a.ejflbm,a.ejflmc,a.sjflbm,a.sjflmc,a.khzbbm,a.khzbmc,
        		a.cjfsbm,a.cjfsmc,a.zbz,a.mbdf,a.zbdf,a.bhgzl,a.zbjj,a.jgbm 
       		FROM QYJX_KHHZ t 
			left join QYJX_KHHZ_XX a on t.id = a.fid
       	 WHERE t.faid = #{faid}
       	 <if test="khqj !=null and khqj !='' "> AND t.khzq = #{khqj}</if>
        	and t.khdxbm = #{khdxbm}
        	<!-- and t.ssksbm = #{jgbm} 去掉因为传入的jgbm不是科室编码，当然也可以传入参数改成科室编码吗-->
        )xx inner join(
        	SELECT zbid,zbmc
            FROM qyjx_bi_zstzbpz
            WHERE faid=#{faid} and pzbz= #{pzbz}
        )zdzb on xx.khzbbm = zdzb.zbid
        
        union
        select xx.* from(
        	SELECT  distinct '2' type ,a.khlx,a.lxmc,a.fldj,a.yjflbm,a.yjflmc,a.ejflbm,a.ejflmc,a.sjflbm,a.sjflmc,a.khzbbm,a.khzbmc,
        		a.cjfsbm,a.cjfsmc,a.zbz,a.mbdf,a.zbdf,a.bhgzl,a.zbjj,a.jgbm 
       		FROM QYJX_KHHZ t 
			left join QYJX_KHHZ_XX a on t.id = a.fid
        	WHERE t.faid = #{faid}
       	 <if test="hbqj !=null and hbqj !='' "> AND t.khzq = #{hbqj}</if>
       	 	and t.khdxbm = #{khdxbm}
        	<!-- and t.ssksbm = #{jgbm} -->
        )xx inner join(
        	SELECT zbid,zbmc
            FROM qyjx_bi_zstzbpz
            WHERE faid=#{faid} and pzbz= #{pzbz}
        )zdzb on xx.khzbbm = zdzb.zbid
    </select>
    
    <!-- 指标树 -->
	<select id="selectZb" parameterType="java.util.Map" resultType="java.util.Map">
		select distinct
		a.khzbbm id,
		a.khzbmc name,
		a.ejflbm pid,
		'1' yzjd
		FROM QYJX_KHHZ t
		inner join QYJX_KHHZ_XX a on t.id = a.fid
		WHERE t.faid = #{faid} and t.khdxbm = #{khdxbm}
		<if test="khqj !=null and khqj !='' "> AND t.khzq = #{khqj}</if>
		<if test="zbmc !=null and zbmc !='' "> 
			AND a.khzbmc like concat('%',#{zbmc,jdbcType=VARCHAR},'%')
		</if> 
		union
		select distinct
		a.ejflbm id,
		a.ejflmc name,
		a.yjflbm pid,
		'0' yzjd
		FROM QYJX_KHHZ t
		inner join QYJX_KHHZ_XX a on t.id = a.fid
		WHERE t.faid = #{faid} and t.khdxbm = #{khdxbm}
		<if test="khqj !=null and khqj !='' "> AND t.khzq = #{khqj}</if> 
		union
		select distinct
		a.yjflbm id,
		a.yjflmc name,
		'root' pid,
		'0' yzjd
		FROM QYJX_KHHZ t
		inner join QYJX_KHHZ_XX a on t.id = a.fid
		WHERE t.faid = #{faid} and t.khdxbm = #{khdxbm}
		<if test="khqj !=null and khqj !='' "> AND t.khzq = #{khqj}</if> 
		UNION
		SELECT
		'root' id,
		'全部指标' name,
		'' pid,
		'0' yzjd
	</select>
	
	
	<!-- 根据方案的ID 获取 方案下的分类类型 -->
    <select id="queryFafllx" resultType="java.util.Map" parameterType="java.util.Map" >
            SELECT fllx FROM QYJX_KHFA_FLXX WHERE FAID=#{faid}
            GROUP BY fllx
            ORDER BY fllx ASC
    </select>

	<!-- 绩效趋势-->
    <select id="queryJxqsGraphForIndividualOrJg" resultType="java.util.Map" parameterType="java.util.Map" >
        <if test="khpl == '1'.toString()">
            <if test="bizstJxqsSel == '1'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbdf,0)),decimal(10,2)) AS qjval FROM(
                    SELECT 1 AS qj UNION SELECT 2 AS qj UNION SELECT 3 AS qj UNION SELECT 4 AS qj
                    UNION SELECT 5 AS qj UNION SELECT 6 AS qj UNION SELECT 7 AS qj
                    UNION SELECT 8 AS qj UNION SELECT 9 AS qj UNION SELECT 10 AS qj
                    UNION SELECT 11 AS qj UNION SELECT 12 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
                	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	and (ssksbm is null or ssksbm = '')
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '2'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.jj,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj UNION SELECT 3 AS qj UNION SELECT 4 AS qj
                UNION SELECT 5 AS qj UNION SELECT 6 AS qj UNION SELECT 7 AS qj
                UNION SELECT 8 AS qj UNION SELECT 9 AS qj UNION SELECT 10 AS qj
                UNION SELECT 11 AS qj UNION SELECT 12 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
                	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	and (ssksbm is null or ssksbm = '')
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '3'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbhgzl,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj UNION SELECT 3 AS qj UNION SELECT 4 AS qj
                UNION SELECT 5 AS qj UNION SELECT 6 AS qj UNION SELECT 7 AS qj
                UNION SELECT 8 AS qj UNION SELECT 9 AS qj UNION SELECT 10 AS qj
                UNION SELECT 11 AS qj UNION SELECT 12 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
               	 	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	and (ssksbm is null or ssksbm = '')
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>

        </if>
        <if test="khpl == '2'.toString()">
            <if test="bizstJxqsSel == '1'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbdf,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj UNION SELECT 3 AS qj UNION SELECT 4 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
                	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	and (ssksbm is null or ssksbm = '')
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '2'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.jj,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj UNION SELECT 3 AS qj UNION SELECT 4 AS qj
                ) AS TQJ inner JOIN(
               SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
              	 	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	and (ssksbm is null or ssksbm = '')
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '3'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbhgzl,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj UNION SELECT 3 AS qj UNION SELECT 4 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
                	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	and (ssksbm is null or ssksbm = '')
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>

        </if>
        <if test="khpl == '3'.toString()">
            <if test="bizstJxqsSel == '1'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbdf,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
                	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	and (ssksbm is null or ssksbm = '')
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '2'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.jj,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
                	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	and (ssksbm is null or ssksbm = '')
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '3'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbhgzl,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
                	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	and (ssksbm is null or ssksbm = '')
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>

        </if>
        <if test="khpl == '4'.toString()">
            <if test="bizstJxqsSel == '1'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbdf,0)),decimal(10,2)) AS qjval FROM(
                SELECT #{fyear} AS qj UNION SELECT #{syear} AS qj UNION SELECT #{khnf} AS qj
                )AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ WHERE JGBM=#{jgbm}
                AND KHPL='4'
                )AS D ON TQJ.qj=D.KHNF
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '2'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.jj,0)),decimal(10,2)) AS qjval FROM(
                SELECT #{fyear} AS qj UNION SELECT #{syear} AS qj UNION SELECT #{khnf} AS qj
                )AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ WHERE JGBM=#{jgbm}
                AND KHPL='4'
                )AS D ON TQJ.qj=D.KHNF
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '3'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbhgzl,0)),decimal(10,2)) AS qjval FROM(
                SELECT #{fyear} AS qj UNION SELECT #{syear} AS qj UNION SELECT #{khnf} AS qj
                )AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ WHERE JGBM=#{jgbm}
                AND KHPL='4'
                )AS D ON TQJ.qj=D.KHNF
                GROUP BY TQJ.qj
            </if>
        </if>
    </select>

	 <!-- 绩效趋势-->
    <select id="queryJxqsGraph" resultType="java.util.Map" parameterType="java.util.Map" >
        <if test="khpl == '1'.toString()">
            <if test="bizstJxqsSel == '1'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbdf,0)),decimal(10,2)) AS qjval FROM(
                    SELECT 1 AS qj UNION SELECT 2 AS qj UNION SELECT 3 AS qj UNION SELECT 4 AS qj
                    UNION SELECT 5 AS qj UNION SELECT 6 AS qj UNION SELECT 7 AS qj
                    UNION SELECT 8 AS qj UNION SELECT 9 AS qj UNION SELECT 10 AS qj
                    UNION SELECT 11 AS qj UNION SELECT 12 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
                	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	<!-- and ssksbm = #{jgbm} 20191122注释该条件--><!-- 或者is not null -->
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '2'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.jj,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj UNION SELECT 3 AS qj UNION SELECT 4 AS qj
                UNION SELECT 5 AS qj UNION SELECT 6 AS qj UNION SELECT 7 AS qj
                UNION SELECT 8 AS qj UNION SELECT 9 AS qj UNION SELECT 10 AS qj
                UNION SELECT 11 AS qj UNION SELECT 12 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
                	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	<!-- and ssksbm = #{jgbm} -->
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '3'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbhgzl,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj UNION SELECT 3 AS qj UNION SELECT 4 AS qj
                UNION SELECT 5 AS qj UNION SELECT 6 AS qj UNION SELECT 7 AS qj
                UNION SELECT 8 AS qj UNION SELECT 9 AS qj UNION SELECT 10 AS qj
                UNION SELECT 11 AS qj UNION SELECT 12 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
               	 	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	<!-- and ssksbm = #{jgbm} -->
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>

        </if>
        <if test="khpl == '2'.toString()">
            <if test="bizstJxqsSel == '1'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbdf,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj UNION SELECT 3 AS qj UNION SELECT 4 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
                	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	<!-- and ssksbm = #{jgbm} -->
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '2'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.jj,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj UNION SELECT 3 AS qj UNION SELECT 4 AS qj
                ) AS TQJ inner JOIN(
               SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
              	 	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	<!-- and ssksbm = #{jgbm} -->
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '3'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbhgzl,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj UNION SELECT 3 AS qj UNION SELECT 4 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
                	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	<!-- and ssksbm = #{jgbm} -->
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>

        </if>
        <if test="khpl == '3'.toString()">
            <if test="bizstJxqsSel == '1'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbdf,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
                	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	<!-- and ssksbm = #{jgbm} -->
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '2'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.jj,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
                	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	<!-- and ssksbm = #{jgbm} -->
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '3'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbhgzl,0)),decimal(10,2)) AS qjval FROM(
                SELECT 1 AS qj UNION SELECT 2 AS qj
                ) AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ  WHERE FAID=#{faid} AND KHPL=#{khpl}
                	<if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
                	and khdxbm = #{khdxbm}
                	<!-- and ssksbm = #{jgbm} -->
                ) AS D ON TQJ.qj=D.KHZQ
                GROUP BY TQJ.qj
            </if>

        </if>
        <if test="khpl == '4'.toString()">
            <if test="bizstJxqsSel == '1'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbdf,0)),decimal(10,2)) AS qjval FROM(
                SELECT #{fyear} AS qj UNION SELECT #{syear} AS qj UNION SELECT #{khnf} AS qj
                )AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ WHERE JGBM=#{jgbm}
                AND KHPL='4'
                )AS D ON TQJ.qj=D.KHNF
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '2'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.jj,0)),decimal(10,2)) AS qjval FROM(
                SELECT #{fyear} AS qj UNION SELECT #{syear} AS qj UNION SELECT #{khnf} AS qj
                )AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ WHERE JGBM=#{jgbm}
                AND KHPL='4'
                )AS D ON TQJ.qj=D.KHNF
                GROUP BY TQJ.qj
            </if>
            <if test="bizstJxqsSel == '3'.toString()">
                SELECT TQJ.qj,convert(SUM(IFNULL(D.zbhgzl,0)),decimal(10,2)) AS qjval FROM(
                SELECT #{fyear} AS qj UNION SELECT #{syear} AS qj UNION SELECT #{khnf} AS qj
                )AS TQJ inner JOIN(
                SELECT * FROM QYJX_KHHZ WHERE JGBM=#{jgbm}
                AND KHPL='4'
                )AS D ON TQJ.qj=D.KHNF
                GROUP BY TQJ.qj
            </if>
        </if>
    </select>
    
    <!--绩效分析 考核到个人、机构-->
    <select id="queryJxfxGraphForIndividualOrJg" resultType="java.util.Map" parameterType="java.util.Map" >
        <if test="bizstJxfxSel == '1'.toString()">
            SELECT T1.khdxbm,T1.khdxmc,T1.khzq,T1.jgzbdf,convert(T1.jgzbdf/T1.jgmbdf,decimal(10,4))*100 AS dfl FROM(
            SELECT khdxbm,khdxmc,khzq,
            convert(SUM(IFNULL(zbdf,0)),decimal(10,2)) AS jgzbdf,
            convert(SUM(IFNULL(mbdf,0)),decimal(10,2)) AS jgmbdf
            FROM QYJX_KHHZ M WHERE FAID=#{faid} and khdxbm = #{khdxbm}
            AND KHPL=#{khpl} and (ssksbm is null or ssksbm = '')
            <if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
            GROUP BY khdxbm,khdxmc,khzq
            ) AS T1
        </if>
        <if test="bizstJxfxSel == '2'.toString()">
            SELECT khdxbm,khdxmc,khzq,
            convert(SUM(IFNULL(zbhgzl,0)),decimal(10,2)) AS jgzbhgzl,
            convert(SUM(IFNULL(jj,0)),decimal(10,2)) AS jgjj
            FROM QYJX_KHHZ M WHERE FAID=#{faid} and khdxbm = #{khdxbm}
            AND KHPL=#{khpl} and (ssksbm is null or ssksbm = '')
            <if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
            GROUP BY khdxbm,khdxmc,khzq
        </if>
    </select>
    
    <!--绩效分析-->
    <select id="queryJxfxGraph" resultType="java.util.Map" parameterType="java.util.Map" >
        <if test="bizstJxfxSel == '1'.toString()">
            SELECT T1.khdxbm,T1.khdxmc,T1.khzq,T1.jgzbdf,convert(ifnull(T1.jgzbdf / T1.jgmbdf,0),decimal(10,4))*100 AS dfl FROM(
            SELECT khdxbm,khdxmc,khzq,
            convert(SUM(IFNULL(zbdf,0)),decimal(10,2)) AS jgzbdf,
            convert(SUM(IFNULL(mbdf,0)),decimal(10,2)) AS jgmbdf
            FROM QYJX_KHHZ M WHERE FAID=#{faid} and khdxbm = #{khdxbm}
            AND KHPL=#{khpl} <!-- and ssksbm = #{jgbm} -->
            <if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
            GROUP BY khdxbm,khdxmc,khzq
            ) AS T1
        </if>
        <if test="bizstJxfxSel == '2'.toString()">
            SELECT khdxbm,khdxmc,khzq,
            convert(SUM(IFNULL(zbhgzl,0)),decimal(10,2)) AS jgzbhgzl,
            convert(SUM(IFNULL(jj,0)),decimal(10,2)) AS jgjj
            FROM QYJX_KHHZ M WHERE FAID=#{faid} and khdxbm = #{khdxbm}
            AND KHPL=#{khpl} <!-- and ssksbm = #{jgbm} -->
            <if test="khqj !=null and khqj !='' "> AND khzq = #{khqj}</if>
            GROUP BY khdxbm,khdxmc,khzq
        </if>
    </select>
    
    <!-- 工作量与工作质量 考核到个人、机构-->
    <select id="queryGzlOrGzzltop10ForIndividualOrJg" resultType="java.util.Map" parameterType="java.util.Map" >
        <if test="top10Sel == '1'.toString()">
            select * from(
				select t.id,d.khzbbm,d.khzbmc,d.zbz,d.bhgzl,d.zbdf,z.zbsxbm,z.zbsxmc
				from QYJX_KHHZ t
				inner join qyjx_khhz_xx d on t.id = d.fid
				left join qyjx_zb z on d.khzbbm = z.zbbm
				where t.faid = #{faid} and t.khpl = #{khpl} and t.khzq = #{khqj} and t.khdxbm = #{khdxbm}
				and (t.ssksbm is null or t.ssksbm = '')
				<if test="top10Radio == '1'.toString()">
                    ORDER BY d.zbz DESC
                </if>
                <if test="top10Radio == '2'.toString()">
                    ORDER BY d.zbz ASC
                </if>
			)info
			where info.zbsxbm = '1'
			limit 0,10
        </if>
        <if test="top10Sel == '2'.toString()">
            select * from(
				select t.id,d.khzbbm,d.khzbmc,d.zbz,d.bhgzl,d.zbdf,z.zbsxbm,z.zbsxmc
				from QYJX_KHHZ t
				inner join qyjx_khhz_xx d on t.id = d.fid
				left join qyjx_zb z on d.khzbbm = z.zbbm
				where t.faid = #{faid} and t.khpl = #{khpl} and t.khzq = #{khqj} and t.khdxbm = #{khdxbm}
				and (t.ssksbm is null or t.ssksbm = '')
				<if test="top10Radio == '1'.toString()">
                    ORDER BY d.zbdf DESC
                </if>
                <if test="top10Radio == '2'.toString()">
                    ORDER BY d.zbdf ASC
                </if>
			)info
			where info.zbsxbm = '2'
			limit 0,10
        </if>
        <if test="top10Sel == '3'.toString()">
            select * from(
				select t.id,d.khzbbm,d.khzbmc,d.zbz,d.bhgzl,d.zbdf,z.zbsxbm,z.zbsxmc
				from QYJX_KHHZ t
				inner join qyjx_khhz_xx d on t.id = d.fid
				left join qyjx_zb z on d.khzbbm = z.zbbm
				where t.faid = #{faid} and t.khpl = #{khpl} and t.khzq = #{khqj} and t.khdxbm = #{khdxbm}
				and (t.ssksbm is null or t.ssksbm = '')
				<if test="top10Radio == '1'.toString()">
                    ORDER BY d.bhgzl DESC
                </if>
                <if test="top10Radio == '2'.toString()">
                    ORDER BY d.bhgzl ASC
                </if>
			)info
			where info.zbsxbm = '1'
			limit 0,10
        </if>
    </select>
    
    <!-- 工作量与工作质量-->
    <select id="queryGzlOrGzzltop10" resultType="java.util.Map" parameterType="java.util.Map" >
        <if test="top10Sel == '1'.toString()">
            select * from(
				select t.id,d.khzbbm,d.khzbmc,d.zbz,d.bhgzl,d.zbdf,z.zbsxbm,z.zbsxmc
				from QYJX_KHHZ t
				inner join qyjx_khhz_xx d on t.id = d.fid
				left join qyjx_zb z on d.khzbbm = z.zbbm
				where t.faid = #{faid} and t.khpl = #{khpl} and t.khzq = #{khqj} and t.khdxbm = #{khdxbm}
				<!-- and t.ssksbm = #{jgbm} -->
				<if test="top10Radio == '1'.toString()">
                    ORDER BY d.zbz DESC
                </if>
                <if test="top10Radio == '2'.toString()">
                    ORDER BY d.zbz ASC
                </if>
			)info
			where info.zbsxbm = '1'
			limit 0,10
        </if>
        <if test="top10Sel == '2'.toString()">
            select * from(
				select t.id,d.khzbbm,d.khzbmc,d.zbz,d.bhgzl,d.zbdf,z.zbsxbm,z.zbsxmc
				from QYJX_KHHZ t
				inner join qyjx_khhz_xx d on t.id = d.fid
				left join qyjx_zb z on d.khzbbm = z.zbbm
				where t.faid = #{faid} and t.khpl = #{khpl} and t.khzq = #{khqj} and t.khdxbm = #{khdxbm}
				<!-- and t.ssksbm = #{jgbm} -->
				<if test="top10Radio == '1'.toString()">
                    ORDER BY d.zbdf DESC
                </if>
                <if test="top10Radio == '2'.toString()">
                    ORDER BY d.zbdf ASC
                </if>
			)info
			where info.zbsxbm = '2'
			limit 0,10
        </if>
         <if test="top10Sel == '3'.toString()">
            select * from(
				select t.id,d.khzbbm,d.khzbmc,d.zbz,d.bhgzl,d.zbdf,z.zbsxbm,z.zbsxmc
				from QYJX_KHHZ t
				inner join qyjx_khhz_xx d on t.id = d.fid
				left join qyjx_zb z on d.khzbbm = z.zbbm
				where t.faid = #{faid} and t.khpl = #{khpl} and t.khzq = #{khqj} and t.khdxbm = #{khdxbm}
				<!-- and t.ssksbm = #{jgbm} -->
				<if test="top10Radio == '1'.toString()">
                    ORDER BY d.bhgzl DESC
                </if>
                <if test="top10Radio == '2'.toString()">
                    ORDER BY d.bhgzl ASC
                </if>
			)info
			where info.zbsxbm = '1'
			limit 0,10
        </if>
    </select>
    
    <!-- 查询方案下面的所有的考核信息   机构视图专用 -->
    <select id="selectAllByJgbmForIndividualOrJg" resultType="com.winning.batjx.core.khgl.khwj.vo.QyjxKhhzVo" parameterType="java.util.Map">
		SELECT distinct '1' type ,t.khdxlx,t.khdxbm,t.khdxmc,ifnull(t.mbdf,0) mbdf,ifnull(t.zbdf,0) zbdf,ifnull(t.zbhgzl,0) zbhgzl,ifnull(t.jj,0) jj
		FROM QYJX_KHHZ t
		WHERE t.faid = #{faid} and t.khpl = #{khpl}
		<if test="khqj !=null and khqj !='' "> AND t.khzq = #{khqj}</if>
		and (t.ssksbm is null or t.ssksbm = '')
		union
		SELECT distinct '2' type ,t.khdxlx,t.khdxbm,t.khdxmc,ifnull(t.mbdf,0) mbdf,ifnull(t.zbdf,0) zbdf,ifnull(t.zbhgzl,0) zbhgzl,ifnull(t.jj,0) jj
		FROM QYJX_KHHZ t
		WHERE t.faid = #{faid} and t.khpl = #{khpl}
		<if test="hbqj !=null and hbqj !='' "> AND t.khzq = #{hbqj}</if>
		and (t.ssksbm is null or t.ssksbm = '')
    </select>
    
    <!-- 查询科室下面的所有的医生考核信息 个人视图用(因为存在直接考核到个人而不是考核到科室下面的个人) -->
    <select id="selectAllByJgbmForIndividual" resultType="com.winning.batjx.core.khgl.khwj.vo.QyjxKhhzVo" parameterType="java.util.Map">
    	SELECT distinct '1' type ,t.khdxbm,t.khdxmc,ifnull(t.mbdf,0) mbdf,ifnull(t.zbdf,0) zbdf,ifnull(t.zbhgzl,0) zbhgzl,ifnull(t.jj,0) jj
		FROM QYJX_KHHZ t
		WHERE t.faid = #{faid} and t.khpl = #{khpl}
		<if test="khqj !=null and khqj !='' "> AND t.khzq = #{khqj}</if>
		and t.khdxlx = '7'
		and (t.ssksbm is null or t.ssksbm = '')
		union
		SELECT distinct '2' type ,t.khdxbm,t.khdxmc,ifnull(t.mbdf,0) mbdf,ifnull(t.zbdf,0) zbdf,ifnull(t.zbhgzl,0) zbhgzl,ifnull(t.jj,0) jj
		FROM QYJX_KHHZ t
		WHERE t.faid = #{faid} and t.khpl = #{khpl}
		<if test="hbqj !=null and hbqj !='' "> AND t.khzq = #{hbqj}</if>
		and t.khdxlx = '7'
		and (t.ssksbm is null or t.ssksbm = '')
    </select>
    <!-- 查询机构(科室)下面的所有的医生考核信息 -->
    <select id="selectAllByJgbm" resultType="com.winning.batjx.core.khgl.khwj.vo.QyjxKhhzVo" parameterType="java.util.Map">
		SELECT distinct '1' type ,t.khdxbm,t.khdxmc,ifnull(t.mbdf,0) mbdf,ifnull(t.zbdf,0) zbdf,ifnull(t.zbhgzl,0) zbhgzl,ifnull(t.jj,0) jj
		FROM QYJX_KHHZ t
		WHERE t.faid = #{faid} and t.khpl = #{khpl}
		<if test="khqj !=null and khqj !='' "> AND t.khzq = #{khqj}</if>
		and t.ssksbm = #{jgbm}
		union
		SELECT distinct '2' type ,t.khdxbm,t.khdxmc,ifnull(t.mbdf,0) mbdf,ifnull(t.zbdf,0) zbdf,ifnull(t.zbhgzl,0) zbhgzl,ifnull(t.jj,0) jj
		FROM QYJX_KHHZ t
		WHERE t.faid = #{faid} and t.khpl = #{khpl}
		<if test="hbqj !=null and hbqj !='' "> AND t.khzq = #{hbqj}</if>
		and t.ssksbm = #{jgbm}
    </select>
    
    	<!-- 查询考核方案 -->
    	<!-- EXISTS (SELECT 1 from QYJX_KHFA_FLXX b where a.faid=b.faid and b.fllx=1)
			and  -->
    <select id="queryJxfaList" parameterType="java.util.Map" resultType="java.util.Map">
    	<!-- 个人视图 -->
     	<if test="khdxbm !=null and khdxbm !='' "> 
        	select DISTINCT t.faid,t.famc from(
        	SELECT a.faid,a.famc FROM qyjx_khhz a 
			WHERE a.khnf =#{khnf} AND a.khpl =#{khpl}
            AND EXISTS(
                        SELECT 1 FROM qyjx_khfa_jbxx AS FAXX
                        WHERE FAXX.JLZT = '1' AND FAXX.ID=a.faid
                        AND EXISTS(SELECT 1 FROM qyjx_khfa_flxx AS FLXX WHERE FLXX.jlzt='1' AND FLXX.KHDXLXBM!='3' AND FLXX.FAID=FAXX.ID)
            )
				<if test="jgbm !=null and jgbm !='' "> AND a.khdxbm = #{jgbm} </if>
            	<if test="khdxbm !=null and khdxbm !='' "> AND a.khdxbm = #{khdxbm} </if>
			)t
    	</if>
    	<!-- 机构视图 -->
    	<if test="khdxbm ==null or khdxbm =='' "> 
        	select DISTINCT t.faid,t.famc from(
        		SELECT a.faid,a.famc FROM qyjx_khhz a 
				WHERE a.khnf =#{khnf} AND a.khpl =#{khpl}
            	AND EXISTS(SELECT 1 FROM qyjx_khfa_jbxx AS FAXX WHERE FAXX.JLZT = '1' AND FAXX.ID=a.faid  )
            		and a.khdxlx in ('0','1','2','3','8')
					<if test="jgbm !=null and jgbm !='' "> AND a.khdxbm = #{jgbm} </if>
            	union
        		SELECT a.faid,a.famc FROM qyjx_khhz a 
				WHERE a.khnf =#{khnf} AND a.khpl =#{khpl}
            	AND EXISTS(SELECT 1 FROM qyjx_khfa_jbxx AS FAXX WHERE FAXX.JLZT = '1' AND FAXX.ID=a.faid  )
            		and a.khdxlx in ('4','5','6')
            		<if test="ksbm !=null and ksbm !='' "> AND a.khdxbm = #{ksbm} </if>
			)t
    	</if>
    </select>

	<!-- 查询考核周期(季度、月度、年、半年) -->
	<!-- EXISTS (SELECT 1 from QYJX_KHFA_FLXX b where a.faid=b.faid and b.fllx=1)
          and  -->
    <select id="queryJxkhplList" parameterType="java.util.Map" resultType="java.util.Map">
    	<!-- 个人视图用 -->
    	<if test="khdxbm !=null and khdxbm !='' "> 
        	select DISTINCT t.khpl from (
         	 SELECT DISTINCT a.khpl FROM qyjx_khhz a 
         	 WHERE a.khnf =#{khnf} 
          		<if test="jgbm !=null and jgbm !='' "> AND a.khdxbm = #{jgbm} </if>
          		<if test="khdxbm !=null and khdxbm !='' "> AND a.khdxbm = #{khdxbm} </if>
    		)t ORDER BY t.khpl ASC
    	</if>
    	<!-- 机构视图 -->
    	<if test="khdxbm ==null or khdxbm =='' "> 
        	select DISTINCT t.khpl from (
         	 SELECT DISTINCT a.khpl FROM qyjx_khhz a 
         	 WHERE a.khnf =#{khnf} and a.khdxlx in ('4','5','6')  
          		<if test="ksbm !=null and ksbm !='' "> AND a.khdxbm = #{ksbm} </if>
          	union
          	SELECT DISTINCT a.khpl FROM qyjx_khhz a 
         	 WHERE a.khnf =#{khnf} and a.khdxlx in ('0','1','2','3','8')
          		<if test="jgbm !=null and jgbm !='' "> AND a.khdxbm = #{jgbm} </if>
          		
    		)t ORDER BY t.khpl ASC
    	</if>
    
    </select>
    
        <!-- 根据方案ID 查询指标配置信息-->
    <select id="queryZdzbByParams" resultType="java.util.HashMap" parameterType="java.util.Map" >
        SELECT zbid AS zbbm,zbmc,zbsxmc,pzbz FROM qyjx_bi_zstzbpz WHERE faid=#{faid} AND pzbz=#{pzbz}
    </select>
    
        <!-- 保存重点指标-->
    <insert id="saveZdzb" parameterType="java.util.Map">
        INSERT INTO qyjx_bi_zstzbpz(zbid,zbmc,zbsxmc,pzbz,faid,czr,czsj)
        SELECT zbbm AS zbid,zbmc,zbsxmc,#{pzbz},#{faid},#{czr} AS czr,NOW()
        FROM QYJX_ZB
        WHERE jlzt='1' AND  zbbm IN
        <foreach item="item" index="index" collection="queryZbxx" open="(" separator="," close=")">
            #{item}
        </foreach>
    </insert>

    <!-- 根据方案ID 删除 该方案配置的指标项-->
    <delete id="delZdzb" parameterType="java.util.Map">
        DELETE FROM qyjx_bi_zstzbpz WHERE faid=#{faid} AND pzbz= #{pzbz}
    </delete>
    
    <!-- 查询当前登录用户的科室编码(对于考核对象是0123这些，科室编码就是jgbm) -->
   <!-- <select id="selectKsbmByRyid" parameterType="java.lang.String" resultType="java.util.HashMap">
    	select ry.id,ry.rygh,ry.ryxm,jg.jgbm,jg.jgmc 
		from sys_czry ry
		inner join sys_ryjg ryjg on ry.id = ryjg.ryid
		inner join sys_zcjg jg on ryjg.jgid = jg.id
		where ry.id = #{ryid}
    </select>-->

    <select id="selectKsbmByRyid" parameterType="java.lang.String" resultType="java.util.HashMap">
    	    SELECT
                ry.id,
                ry.rygh,
                ry.ryxm,
                IFNULL( jg.jgbm, t2.jgbm ) AS jgbm,
                IFNULL( jg.jgmc, t2.jgmc ) AS jgmc
            FROM
                sys_czry ry
                LEFT JOIN sys_ryjg ryjg ON ry.id = ryjg.ryid
                LEFT JOIN sys_zcjg jg ON ryjg.jgid = jg.id
                LEFT JOIN sys_zcjg t2 ON ry.jgbm = t2.jgbm
            WHERE
                ry.id = #{ryid}
    </select>
</mapper>